*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
.navbar{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    background-color:#0073cf;
    color:white;
    justify-content:space-between;
    padding:10px 20px;
}
.navbar .logo{
    font-size:1.8rem;
    font-weight:800;
    transition:transform 0.5s ease-in-out;
}
.navbar span{
    color:black;
}
.navbar .logo:hover{
    transform:translateY(-10px);
    cursor:pointer;
}
.navbar .create{
    background-color:black;
    color:white;
    border-radius:10px;
    transition:background-color 0.3s ease-in-out;
    text-decoration:none;
    padding:10px 20px;
    margin-right:10px;
}
.navbar .create:hover{
    background-color:#0073cf;
    cursor:pointer;
}
.body{
    width:98vw;
    margin:100px auto;
    padding:0 80px;
}
.body h1{
    font-weight:700;
    text-align:center;
}
.button-container{
    display:flex;
    gap:40px;
}
.button-container a{
    color:blue;
}
.button-container a:hover{
    cursor:pointer;
}
.card{
    width:100%;
    padding-bottom:20px;
    border-bottom:2px solid black;
}
.card h3{
    color:#0073cf;
    font-weight:700;
    text-transform:uppercase;
}
.card h4{
    color:black;
    font-weight:100;
    font-style:italic;
    text-transform:capitalize;
}
.card a:hover{
    cursor:pointer;
}
.box{
    display:flex;
    justify-content:center;
    align-items:center;
    height:500px;
}
img{
    width:400px;
    height:300px;
    border-radius:20px;
}
footer{
    background-color:#0073cf;
    color:white;
    position:fixed;
    height:80px;
    bottom:0;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
footer p{
    font-size:1.2rem;
}
/*CREATE PAGE*/
form{
    width:60%;
    margin:130px auto;
    font-size:1rem;
}
.text1 input{
    width:400px;
    height:30px;
    margin-left:30px;
}
.text2 input{
    width:400px;
    height:30px;
    margin-left:64px;
}
.text3 label{
    display:block;
}
.text3 textarea{
    width:600px;
    height:200px;
    padding:5px;
    overflow-x:auto;
    overflow-y:scroll;
    margin-top:20px;
    margin-left:30px;
    resize:none;
}
.submit{
    background-color:#0073cf;
    color:white;
    padding:10px 20px;
    border-radius:10px;
    font-size:1rem;
    border:none;
    outline:none;
    transition:transform 0.3s ease-in-out;
}
.submit:hover{
    cursor:pointer;
    transform:translateY(-5px);
}
/*VIEW*/
.view{
    margin:100px 40px;
}
.view h2{
    font-weight:800;
    font-size:1.4rem;
    text-transform:uppercase;
}
.view h3{
    font-style:italic;
    font-size:1rem;
    text-transform:capitalize;
}
.view p{
    font-size:1rem;
    text-align:justify;
}
